
:root{
    --argentinian-blue: #74ACDF;
    --argentinian-yellow: #F6B40E;
}

.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    /* background-color: var(--argentinian-blue); */
    max-width: 640px;
    justify-content: center;
    box-sizing: border-box;
}

header{
    background-color: var(--argentinian-blue);
    width: 100%;
    padding: 2rem;
    border-bottom: 2rem solid var(--argentinian-yellow);
    max-width: 640px;
}

h1{
    font-family: "Handlee", cursive;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

#hero source{
    display: block;
    max-width: 640px;
}

#data, #weather{
    display: block;
    background-color: white;
    width: 100%;
    border: 2px solid var(--argentinian-yellow);
}

#data h2, #weather h2{
    font-family: "Handlee", cursive;
    text-align: center;
    padding: 1rem;
}

#data div, #weather div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#data h3, #weather h3{
    text-align: end;
    padding: 1px;
    margin: 0;
}

#weather{
    margin-top: 10px;
}

#weather img{
    max-width: 30px;
}

footer{
    text-align: center;
    font-family: "Handlee", cursive;
    background-color: var(--argentinian-blue);
    width: 100%;
    padding: 1.5rem;
}

/* CSS for large screens */

@media (min-width: 641px) {
    header{
        max-width: 100%;
    }
    

}