@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --background-color-1: rgb(99, 99, 162);
    --background-color-2:  rgb(86, 86, 219);
    --color1: black;
    --color2: white;
}
body{
    background-color: var(--background-color-1);
    margin: 20px;
}

header{
    border-bottom: 2px solid white;
    background-color: var(--background-color-2);
}

h1{
    text-align: center;
    padding: 0.5rem;
    font-family: "Parkisans";
    color: var(--color1);
}

a{
    color: var(--color2);
}

h2{
    text-align: center;
    font-family: sans-serif;
    color: var(--color1);
    font-family: "Parkisans";
}

#temples{
    display: grid;
    grid-template-columns: 1fr;
}

#hamburger::before {   /*Marco el comportamiento antes del evento */
    content: "☰";
}

#hamburger.open::before { /*Mrco el comportamiento despues del evento */
    content: "❌";
}

#hamburger {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--color1);
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

ul{
    display: flex;
    justify-content: space-around;
}
main{
    padding-top: 1rem;
}

img{
    max-width: 250px;
}

figure{
    margin: 0 auto;
}

figcaption{
    color: var(--color1);
    text-align: left;
    padding-bottom: 20px;
    font-family: "Parkisans";
    font-weight: 300;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
.navigation ul {
    display: none;
    margin: 0;
    list-style-type: none;
    background-color: var(--background-color2);
    border: 2px solid var(--background-color1);
}

.navigation li {
    text-align: center;
    display: block;
    color: var(--color2);
    margin: 1rem auto 0 auto;
    font-family: "Parkisans";
    font-weight: 300;
    font-style: normal;
}

.navigation.open ul {
    display: block;
    padding: 15px;
}


footer{
    background-color: var(--background-color-2);
    text-align: center;
    border-top: 2px solid white;
}

footer p{
    font-family: "Parkisans";
    color: var(--color1);
}